<div class="container-fluid">

    <div class="row frst">

        <div class="col-xl-12 bg-dark">
          <h1><i class="fa fa-paint-brush" aria-hidden="true"></i> KANVASS</h1>
        </div>

    </div>

    <div class="row scnd">
      <div class="col-xl-12">
        <p>Body</p>
      </div>
    </div>

</div>
