<div class="container">

    <div class="row frst">

        <div class="col-xl-12 bg-dark">
          <h1><i class="fa fa-comments-o" aria-hidden="true"></i> ProjectFlow</h1>
        </div>

    </div>

    <div class="row scnd">

      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="border-right:1px solid #bdbdbd; background:#e0e0e0; padding-top:10px;">
        <span style="font-size:12px;"><strong>Projects</strong></style><button id="addProject" class="btn btn-primary">&#43;</button>
        <ul id="projectList">

        </ul>
      </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 bg-light cnBox">
            <ul id="conversation"></ul>
        </div>

    </div>

    <div class="row thrd">

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 bg-dark pull-left inputFrame">
          <input type="text" id="inputBox" />
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 bg-dark" style="text-align:center">
          <button id="sendBtn"><i class="fa fa-play" aria-hidden="true"></i></button>&nbsp;
          <button id="mediaBtn"><i class="fa fa-picture-o" aria-hidden="true"></i></button>&nbsp;
          <button id= "attachBtn"><i class="fa fa-paperclip" aria-hidden="true"></i></button>&nbsp;
        </div>

    </div>
</div>
