{% extends "layout.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kanvass Home</title>  
  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"data-toggle="modal" data-target="#myModal"><a href="{{ url_for('index') }}">Login</a></a></li>
            <li role="presentation" class="active"><a href="{{ url_for('logout') }}">Logout<span class="badge">{{session['username']}}</span></a></li>
          </ul>
        </nav>	
      </div>
</body>
</html>
{% endblock %}