<div style="position:absolute; top:40%; left:40%; width:350px; padding:30px;display:none; background:white; border-radius:15px;z-index:9999;opacity:1;" id="chart_popup">
     <legend class="text-left">Select Chart Settings</legend>
     <div class="form-group">
       <label for="chart_type">Chart Type</label>
       <select name="chart_type" id="chart_type_dropdown">
         <optgroup>
          <option value="bar_chart">Bar Chart</option>
          <option value="line_chart">Line Chart</option>
          <option value="pie_chart">Pie Chart</option>
        </optgroup>
        </select>
        <br /><br />
        <label for="chart_source_dropdown">Data Source</label>
        <select name="chart_source_dropdown" id="chart_source_dropdown">
          <optgroup>
           <option selected>From PC</option>
           <option>From API</option>
           </optgroup>
         </select>
           <button class="fas fa-upload fa-lg" id="upload_chartpicker"> <input type="file" id="upload_chartpickerBtn" accept=".csv" /></button>
           <br />
           <input type="checkbox" id="header_row" checked /> Display Labels
           <i class="fas fa-link fa-lg" style="display:none" id="link_chartpicker"></i>
           <i class="fas fa-link fa-lg" style="display:none" id="gdrive_chartpicker"></i>
     </div>
     <div>
       <div class="btn-group btn-group-justified">
         <a href="#" class="btn btn-primary" id="chartYes">Add Chart</a>
         <a href="#" class="btn btn-danger" id="chartNo">Cancel</a>
       </div>
     </div>
    <div id="error_out_chart" style="display:none;"></div>
</div>
