<div style="position:absolute; top:40%; left:40%; width:350px; padding:30px;display:none; background:white; border-radius:15px;z-index:9999;opacity:1;" id="share_popup">
     <legend class="text-left">Sharing Setting</legend>
     <div class="form-group">
       <label for="text_popup_input">Share With:</label>
       <br />
       <input id="share_with" />
       <br />
       <div id="shared_with"></div>
     </div>
     <div>
       <div class="btn-group btn-group-justified">
         <a href="#" class="btn btn-primary" id="shareYes">Share</a>
         <a href="#" class="btn btn-danger" id="shareNo">Close</a>
       </div>
     </div>
    <div id="error_out_share" style="display:none;"></div>
</div>
