body {
  height:100%;
}

h1 {
    padding:10px;
    color:white;
}

.frst {
  min-height: 80px;
}

.scnd {
  /*min-height: 100%;*/
  position:relative;
  overflow-y:scroll;
  overflow-x:hidden;
/*overflow-y:scroll;
  overflow-x: hidden;*/
}

.thrd {
  min-height:60px;
  max-height:60px;
}

.inputFrame {
  padding:10px;
}

#inputBox {
  min-width:100%;
  min-height:100%;
  font-size:100%;
  background:white;
  color:#343a40;
  padding-left:10px;
  padding-right:15px;
  border-radius: 15px;
  border:0px solid black;
}
#inputBox:focus {
  color:#343a40;
  outline: none;
}
#sendBtn:focus, #attachBtn:focus, #mediaBtn:focus {
  outline: none;
}

#sendBtn:hover, #attachBtn:hover, #mediaBtn:hover,#sendBtn:active, #attachBtn:active, #mediaBtn:active {
  color:#4885ed;
}
#conversation,#projectList   {

    list-style-type:none;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.convo {
  border:1px solid black;
  border-radius:15px;
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
}


#sendBtn, #attachBtn, #mediaBtn {
  margin-top:5px;
  margin-bottom:5px;
  min-height:50px;
  min-width:60px;
  background:transparent;
  color:white;
  border:0px solid black;
  font-size:20px;


}


#addProject {

  /*padding:5px;*/

  border:1px solid black;
  display: inline-block;
  width:30px;
  float:right;
  text-align: center;
  padding-bottom:3px;
/*  vertical-align:bottom;*/
  padding:0px;
  margin:auto;
  line-height: 28px;
  padding-top:0px;
  font-size: 18px;
  border-radius: 50%;

}
