<div style="position:absolute; width:100%;height:100%;background:black;opacity:0.5; z-index:9998; display:none;" id="vid_back">
</div>

<div style="position:absolute; top:40%; left:40%; padding:20px;display:none; background:white; border-radius:15px;z-index:9999;opacity:1;" id="video_popup">
  <table>
    <tr>
      <td>
          <label for="src_youtube">Frome Youtube </label><input type="radio" name="vid_source_type" id="src_youtube" checked="checked" />
      </td>
      <td>
         <input type="text" placeholder="URL" id="youtube_url" /></label>
      </td>
    </tr>
    <tr>
      <td>
        <label for="src_vimeo">From Vimeo </label><input type="radio" name="vid_source_type" id="src_vimeo" />
      </td>
      <td>
        <input type="text" placeholder="URL" id="vimeo_url" /></label>
      </td>
    </tr>
    <tr>
      <td>
        <label for="src_gdrive">From Google Drive</label>
      </td>
      <td>
        <input type="radio" name="vid_source_type" id="src_gdrive" /></label>
      </td>
    </tr>
    <tr>
      <td>
        <button id="vidYes">Confirm</button>
      </td>
      <td>
        <button id="vidNo">Cancel</button>
      </td>
    </tr>
    <tr><td id="error_out"></td></tr>
  </table>
</div>
